body {
	background-color: black;
}
h4{
	color: white;
	text-align: center;
	font-family: helvetica;
	border-style: groove;
}
h3{
	margin-top: 80px;
	font-family: verdana;
	font-size: 20px;
	text-align: center;
	color: red;
	border-style: ridge;
	text-decoration: underline;
	font-style: italic;
	
}
h2{
	margin: 25px 50px 75px;
	font-size: 50px;
	color: orange;
	font-family: times new roman;
	border-style: dotted;
	text-decoration: overline;
	text-shadow: 5px 4px black;
}